@font-face {
  font-family: 'Lucida Sans';
  font-display: swap;
  src: url(assets/fonts/lucida-sans.woff);
}

@font-face {
  font-family: 'Segoe WP';
  src: url('assets/fonts/SegoeWP.woff2') format('woff2'),
    url('assets/fonts/SegoeWP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('assets/fonts/Asap-Regular.woff2') format('woff2'),
    url('assets/fonts/Asap-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/SegoeUI-Light.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/SegoeUI.woff2') format('woff2'),
    url('assets/fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('assets/fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('assets/fonts/PTSans-Regular.woff2') format('woff2'),
    url('assets/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: url('') format('woff2'),
    url('assets/fonts/SegoeWP-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/opensans.woff2') format('woff2'),
    url('assets/fonts/opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('assets/fonts/LucidaSans-Italic.woff2') format('woff2'),
    url('assets/fonts/LucidaSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('assets/fonts/LucidaSans.eot');
  src: url('assets/fonts/LucidaSans.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/LucidaSans.woff2') format('woff2'),
    url('assets/fonts/LucidaSans.woff') format('woff'),
    url('../fonts/LucidaSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
